{{template "base" .}}
{{define "title"}}创建课件{{end}}

{{define "body"}}
    <form action='/courseware/create' enctype="multipart/form-data" method='POST'>
    <div>
        <label>课程名称：</label>
        <input type='text' name='coursetitle'>
    </div>
    <div>
        <label>课程编号：</label>
        <input type='text' name='coursecode'>
    </div>
    <div>
        <label>是否可买断</label>
        <input type='checkbox' name='active' checked>
    <div>
    <div>
        <label>上传课件压缩包</label>
        <br>
        <!-- 不允许上传多个文件
            <input type="file" name="uploadcf" multiple="multiple">
        -->
        <input type="file" name="uploadcf">
    </div>
    <div>
        <input type='submit' value='确定'>
    </div>
    </form>
{{end}}